@import url("https://themes.googleusercontent.com/fonts/css?kit=DFQxm4rd7fRHgM9OTejWVVjZ9gv3q3MEKn9abLAls7Noqw78g4ZKnHEPFKeMbCaau9F-rU6BI_rbfzdQAioPsg");
ol.lst-kix_rcamnjhinc5n-7 {
  list-style-type: none;
}
ol.lst-kix_rcamnjhinc5n-8 {
  list-style-type: none;
}
.lst-kix_rcamnjhinc5n-1 > li {
  counter-increment: lst-ctn-kix_rcamnjhinc5n-1;
}
ol.lst-kix_rcamnjhinc5n-5.start {
  counter-reset: lst-ctn-kix_rcamnjhinc5n-5 0;
}
ol.lst-kix_rcamnjhinc5n-3 {
  list-style-type: none;
}
ol.lst-kix_rcamnjhinc5n-3.start {
  counter-reset: lst-ctn-kix_rcamnjhinc5n-3 0;
}
ol.lst-kix_rcamnjhinc5n-4 {
  list-style-type: none;
}
ol.lst-kix_rcamnjhinc5n-5 {
  list-style-type: none;
}
ol.lst-kix_rcamnjhinc5n-0.start {
  counter-reset: lst-ctn-kix_rcamnjhinc5n-0 0;
}
ol.lst-kix_rcamnjhinc5n-6 {
  list-style-type: none;
}
ol.lst-kix_rcamnjhinc5n-0 {
  list-style-type: none;
}
ol.lst-kix_rcamnjhinc5n-8.start {
  counter-reset: lst-ctn-kix_rcamnjhinc5n-8 0;
}
ol.lst-kix_rcamnjhinc5n-1 {
  list-style-type: none;
}
.lst-kix_rcamnjhinc5n-3 > li {
  counter-increment: lst-ctn-kix_rcamnjhinc5n-3;
}
ol.lst-kix_rcamnjhinc5n-2 {
  list-style-type: none;
}
ol.lst-kix_rcamnjhinc5n-1.start {
  counter-reset: lst-ctn-kix_rcamnjhinc5n-1 0;
}
.lst-kix_rcamnjhinc5n-6 > li {
  counter-increment: lst-ctn-kix_rcamnjhinc5n-6;
}
.lst-kix_rcamnjhinc5n-7 > li:before {
  content: "" counter(lst-ctn-kix_rcamnjhinc5n-7, lower-latin) ". ";
}
.lst-kix_rcamnjhinc5n-6 > li:before {
  content: "" counter(lst-ctn-kix_rcamnjhinc5n-6, decimal) ". ";
}
ol.lst-kix_rcamnjhinc5n-6.start {
  counter-reset: lst-ctn-kix_rcamnjhinc5n-6 0;
}
.lst-kix_rcamnjhinc5n-8 > li {
  counter-increment: lst-ctn-kix_rcamnjhinc5n-8;
}
.lst-kix_rcamnjhinc5n-3 > li:before {
  content: "" counter(lst-ctn-kix_rcamnjhinc5n-3, decimal) ". ";
}
.lst-kix_rcamnjhinc5n-5 > li:before {
  content: "" counter(lst-ctn-kix_rcamnjhinc5n-5, lower-roman) ". ";
}
.lst-kix_rcamnjhinc5n-2 > li {
  counter-increment: lst-ctn-kix_rcamnjhinc5n-2;
}
.lst-kix_rcamnjhinc5n-5 > li {
  counter-increment: lst-ctn-kix_rcamnjhinc5n-5;
}
.lst-kix_rcamnjhinc5n-4 > li:before {
  content: "" counter(lst-ctn-kix_rcamnjhinc5n-4, lower-latin) ". ";
}
.lst-kix_rcamnjhinc5n-8 > li:before {
  content: "" counter(lst-ctn-kix_rcamnjhinc5n-8, lower-roman) ". ";
}
.lst-kix_rcamnjhinc5n-1 > li:before {
  content: "" counter(lst-ctn-kix_rcamnjhinc5n-1, lower-latin) ". ";
}
ol.lst-kix_rcamnjhinc5n-4.start {
  counter-reset: lst-ctn-kix_rcamnjhinc5n-4 0;
}
.lst-kix_rcamnjhinc5n-2 > li:before {
  content: "" counter(lst-ctn-kix_rcamnjhinc5n-2, lower-roman) ". ";
}
.lst-kix_rcamnjhinc5n-0 > li {
  counter-increment: lst-ctn-kix_rcamnjhinc5n-0;
}
ol.lst-kix_rcamnjhinc5n-7.start {
  counter-reset: lst-ctn-kix_rcamnjhinc5n-7 0;
}
.lst-kix_rcamnjhinc5n-0 > li:before {
  content: "" counter(lst-ctn-kix_rcamnjhinc5n-0, decimal) ". ";
}
.lst-kix_rcamnjhinc5n-4 > li {
  counter-increment: lst-ctn-kix_rcamnjhinc5n-4;
}
.lst-kix_rcamnjhinc5n-7 > li {
  counter-increment: lst-ctn-kix_rcamnjhinc5n-7;
}
ol.lst-kix_rcamnjhinc5n-2.start {
  counter-reset: lst-ctn-kix_rcamnjhinc5n-2 0;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c7 {
  border-right-style: solid;
  border-bottom-color: #ffffff;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #ffffff;
  vertical-align: top;
  border-right-color: #ffffff;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 612pt;
  border-top-color: #ffffff;
  border-bottom-style: solid;
}
.c3 {
  background-color: #6d9eeb;
  -webkit-text-decoration-skip: none;
  color: #fafafa;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 13pt;
  font-family: "Roboto";
}
.c13 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c19 {
  -webkit-text-decoration-skip: none;
  color: #f1f3f4;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 13pt;
  font-family: "Roboto";
}
.c18 {
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Roboto";
  font-style: normal;
}
.c5 {
  color: #202124;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Google Sans";
  font-style: normal;
}
.c2 {
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Roboto";
  font-style: normal;
}
.c12 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Poppins";
  font-style: normal;
}
.c9 {
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 17pt;
  font-family: "Google Sans";
  font-style: normal;
}
.c20 {
  color: #f1f3f4;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Poppins";
  font-style: normal;
}
.c21 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c0 {
  margin-left: 72pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c4 {
  margin-left: 72pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: left;
}
.c17 {
  margin-left: 72pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: right;
}
.c14 {
  margin-left: auto;
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}
.c6 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c25 {
  font-size: 13pt;
  font-family: "Roboto";
  color: #ffffff;
  font-weight: 300;
}
.c11 {
  background-color: #ffffff;
  max-width: 612pt;
  margin: 0 auto 0 auto;
  padding: 0pt 0pt 0pt 0pt;
}
.c16 {
  padding: 36pt 36pt 36pt 36pt;
  background-color: #4285f4;
}
.c23 {
  vertical-align: baseline;
  font-style: normal;
}
.c8 {
  color: inherit;
  text-decoration: inherit;
}
.c10 {
  margin-right: -99.8pt;
}
.c22 {
  height: 0pt;
}
.c1 {
  height: 11pt;
}
.c24 {
  margin-right: -0.8pt;
}
.c15 {
  height: 213pt;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
